name: Build HTML pages for Knowledge cards related to Taxonomy entries

on:
  push:
    paths:
      - 'knowledge_panels/additives/*.yml'
      - 'knowledge_panels/ingredients/*.yml'
      - 'knowledge_panels/nutrients/*.yml'
      - 'knowledge_panels/ingredients/beauty/*.yml'
jobs:
  update-assets:
    if: github.repository_owner == 'openfoodfacts'
    runs-on: ubuntu-latest

    steps:

    - name: Checkout
      uses: actions/checkout@v4

    - name: Upgrade assets
      run: |
        cd knowledge_panels
        python3 -m pip install -r requirements.txt --user
        python3 build_html.py additives ingredients

    - name: Check for uncommitted changes
      id: check-changes
      uses: mskri/check-uncommitted-changes-action@v1.0.1
      
    - name: Create Pull Request
      if: steps.check-changes.outputs.outcome == failure()
      id: cpr
      uses: peter-evans/create-pull-request@v7
      with:
        base: main
        commit-message: Automated update of additives HTML files
        committer: GitHub <noreply@github.com>
        author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
        signoff: false
        branch: auto-update-assets
        delete-branch: true
        title: 'chore: Update assets'
        body: |
          Automated update of additives HTML files
