name: Check Includes in HTML Templates
permissions:
  contents: read

on:
  push:
    paths:
      - 'impossiblecondition**.html'
  pull_request:
    paths:
      - 'impossiblecondition**.html'

jobs:
  check-includes:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v6

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.x'

    - name: Install Dependencies
      run: pip install beautifulsoup4

    - name: Check for Translated Includes
      run: python .github/scripts/check_includes.py
